In [11]:
import seaborn as sns
import pandas as pd

#-----------------------Data Sampling----------------------------------
from sklearn.model_selection import train_test_split

#------------Classifier------------------------------------------------
from sklearn.neighbors import KNeighborsClassifier

#-----------------------Evaluation Metrices------------------------------
from sklearn.metrics import accuracy_score

In [12]:
# Load the Iris dataset
iris=pd.read_csv("iris.csv")
X = iris.iloc[:, 0:4]
y = iris["Species"]

In [13]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize the KNN classifier
knn = KNeighborsClassifier(n_neighbors=3)

# Train the classifier
knn.fit(X_train, y_train)

# Make predictions on the test set
predictions = knn.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

# Print correct and wrong predictions
print("Correct and Wrong predictions:")
for i in range(len(predictions)):
    if predictions[i] == y_test.iloc[i]:
        print("Correct Predicted:", predictions[i], "Original species:", y_test.iloc[i])
    else:
        print("Wrong Predicted:", predictions[i], "Original species:", y_test.iloc[i])

Accuracy: 1.0
Correct and Wrong predictions:
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-virginica Original species: Iris-virginica
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-versicolor Original species: Iris-versicolor
Correct Predicted: Iris-setosa Original species: Iris-setosa
Correct Predicted: Iris-setosa Original species: Iris-setosa

In [14]:
predictions

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa'], dtype=object)

In [15]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
len(iris)

150

In [17]:
iris.shape

(150, 6)

In [18]:
X_test.shape

(45, 4)

In [19]:
X_train.shape

(105, 4)

In [10]:
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [11]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [30]:
m=pd.read_csv("mpg.csv")
m.shape

(398, 9)

In [16]:
iris.(20)

     sepal_length  sepal_width  petal_length  petal_width    species
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [22]:
iris.shape

(150, 5)

In [26]:
iris.tail(5)

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
data = sns.load_dataset('iris')
X = iris.iloc[:, 0:4]
y = iris["species"]